@model BoardRoomSystem.Models.MeetingRooms

@{
    ViewData["Title"] = "Crear Sala de Juntas";
}

<h2>Crear</h2>
<hr />

<div class="row">
    <div class="col-md-4">
        <form method="POST" enctype="multipart/form-data" asp-action="Create" asp-controller="MeetingRooms">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MTGR_Name" class="control-label"></label>
                <input asp-for="MTGR_Name" class="form-control" />
                <span asp-validation-for="MTGR_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MTGR_Description" class="control-label"></label>
                <input asp-for="MTGR_Description" class="form-control" />
                <span asp-validation-for="MTGR_Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MTGR_MaxNumbPeople" class="control-label"></label>
                <input asp-for="MTGR_MaxNumbPeople" class="form-control" />
                <span asp-validation-for="MTGR_MaxNumbPeople" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State_Id" class="control-label"></label>
                <select asp-for="State_Id" class="form-control" asp-items="ViewBag.State_Id"></select>
            </div>
            <div class="form-group">
                <label asp-for="Location_Id" class="control-label"></label>
                <select asp-for="Location_Id" class="form-control" asp-items="ViewBag.Location_Id"></select>
            </div>

            <div class="form-group">
                <label asp-for="CoverPhoto" class="control-label"></label>
                <div class="custom-file">
                    <input asp-for="CoverPhoto" class="custom-file-input" id="customFile" />
                    <label class="custom-file-label" for="customFile">Examinar</label>
                </div>
                
                <span asp-validation-for="CoverPhoto" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-warning">Regresar</a>
            </div>
        </form>
        
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
