@model IEnumerable<BoardRoomSystem.Models.AreasViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Areas</h2>

<ol class="breadcrumb">
  <li><a asp-action="Index" asp-controller="Home">Home</a></li>
  <li><label>Areas</label></li>
  @*<li class="active">Data</li>*@
</ol>

@if (ViewData["Alert"] != null)
{
    <h3>@ViewData["Alert"]</h3>
}
<div>
    <a asp-action="Create" class="btn btn-success"><i class="far fa-file"></i> Nuevo</a>
</div>

<br />
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NameArea)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NameArea)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.IdArea" class="btn btn-sm btn-primary">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
