@model BoardRoomSystem.Models.Location

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalles</h1>

<div>
    <h4>Ubicación</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameLocation)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdLocation" class="btn btn-primary">Edit</a> |
    <a asp-action="Index" class="btn btn-warning">Regresar</a>
</div>
