@model IEnumerable<BoardRoomSystem.Models.Location>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ubicaciones</h2>
<ol class="breadcrumb">
  <li><a asp-action="Index" asp-controller="Home">Home</a></li>
  <li><label>Ubicaciones</label></li>
  @*<li class="active">Data</li>*@
</ol>
@if (ViewData["Alert"] != null)
{
    <h3>@ViewData["Alert"]</h3>
}
<p>
    <a asp-action="Create" class="btn btn-success">Nuevo</a>
</p>

<div class="table-responsive">
    <table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameLocation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NameLocation)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.IdLocation" class="btn btn-sm btn-primary">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

</div>
