@page
@model LoginModel

@{
    ViewData["Title"] = "Inicio de Sesión";
    Layout = null;
}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <title>Inicio de Sesión</title>

    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="png" href="~/img/meetingRoomIcon.png" />

</head>
<body>
    
    <img class="wave" src="/img/wavemont.svg">
    <div class="container">
        <div class="img">
            <img src="/img/undraw_calendar_re_ki49.svg">
        </div>
        <div class="login-content">
            <form id="account" method="post">
                <img src="/img/undraw_pic_profile_hi2s.svg"/>
                <h2 class="title">Bienvenido</h2>
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <h5>Correo</h5>
                        <input asp-for="Input.Email" type="text" class="input">
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="input-div pass">
                    <div class="i">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div class="div">
                        <h5>Contraseña</h5>
                        <input asp-for="Input.Password" type="password" class="input">
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                </div>
                @*<a href="#">Forgot Password?</a>*@
                <br />
                <input type="submit" class="btn" value="Entrar">
            </form>
        </div>
    </div>
    <script type="text/javascript" src="/js/main.js"></script>
    
    

    @section Scripts {

    <partial name="_ValidationScriptsPartial" />
}
</body>
</html>
