@page
@model LoginModel

@{
    ViewData["Title"] = "Inicio de Sesión";
    Layout = null;
}

@*<h1>@ViewData["Title"]</h1>*@


<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Design by foolishdeveloper.com -->
    <title>Inicio de Sesión</title>
 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link href="~/css/login.css" rel="stylesheet" />
    <!--Stylesheet-->

</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form id="account" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <h3>Inicio de Sesión</h3>

        <div class="form-floating">
            <label asp-for="Input.Email" class="form-label"></label>
            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" id="username" />
            
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>  
        <div class="form-floating">
            <label asp-for="Input.Password" class="form-label"></label>
            <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" id="password" />
            
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        @*<div>
            <div class="checkbox">
                <label asp-for="Input.RememberMe" class="form-label">
                    <input class="form-check-input" asp-for="Input.RememberMe" />
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>
        </div>*@

      
        <button type="submit">Entrar</button>
        

        @*<label for="username">Username</label>
        <input type="text" placeholder="Email or Phone" id="username">

        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password">*@

        @*<button>Log In</button>
        <div class="social">
          <div class="go"><i class="fab fa-google"></i>  Google</div>
          <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
        </div>*@
    </form>

    @section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
</body>
</html>
