.row {
    margin-bottom: auto;
    width: auto;
    height: auto;
}

.btn{
    margin-bottom:20px;
    width:auto;
}

.login-form-icon {
    margin-top: 20px;
    text-align:center;
}

.nav-item{
    
}

